# Credentials File
.env

# Temporary File
tmp
tmp_file
tmp_public

# Dev Purposes
air.exe
air

# External Library
lib/ytdlp/yt-dlp.exe
lib/ffmpeg/ffmpeg.exe
lib/ffmpeg/ffmpeg
lib/ytdlp/yt-dlp
